.row1{
  width: 85%;
  margin: 0 auto;
}
.banner{
  position: absolute;
  height: 620px;
  width: 100%;
  //overflow: hidden;
}
.imgbox{
  position: absolute;
  width: 100%;
  height: 620px;
  background: url("../imgs/Li/ban1.jpg") no-repeat -300px;
}
.pic{
  position: absolute;
  height: 620px;
  width: 100%;
  overflow: hidden;
}
.pic>a>img{
  position: absolute;
  left: -300px;
  height: 620px;
}
.banner .u1{
  position: absolute;
  bottom: 20%;
  left: 564px;
  z-index: 100;
}
.banner .u1>li{
  float: left;
  width: 24px;
  height: 3px;
  background: #FFF;
  opacity: .3;
  margin-right: 8px;
  cursor:pointer;
}
.box2{
  background: #000;
}
.box2 .pic img{
  position: absolute;
  width: 550px;
  height: 360px;
  right: 0;
  top: 100px;
}
.row3 .text{
  position: absolute;
  top: 150px;
}
.box2 .text>a{
  color: white;
}
.row3{
  width: 85%;
  height: 620px;
  margin: 0 auto;
  cursor:pointer;
  position: relative;
}
.row3 .text h1{
  color: #FFF;
  font-size: 42px;
  line-height: 64px;
}
.text h4{
  color: #FFF;
  font-size: 20px;
  line-height: 40px;
  margin: 30px 0 60px 0;

}
.text a>button{
  width: 130px;
  height: 38px;
  position: absolute;
  //z-index: 100;
  background: none;
  box-shadow: none;
  border: 1px solid #FFF;
}

.text a>button:hover{
  background: #FFF;
  color: black;
}
.banner .u1>li:first-child{
  opacity: .8;
}
.banner .u1>li:hover{
  opacity: .8;
}
.imgbox{
  display: none;
}
//左右轮播按钮
.slides{
  position: absolute;
  top: 55%;
  display: block;
  width: 50px;
  height: 48px;
  cursor:pointer;
}
.B_right {
  background: url(../imgs/Li/b_btn.png) -25px 0 no-repeat;
  right: 40px;
  background-size: 50px 48px;
  opacity: .8;
}
.B_left {
  background: url(../imgs/Li/b_btn.png) 25px 0 no-repeat;
  left:40px;
  background-size: 50px 48px;
  opacity: .8;
}

//轮播图尾部
.event-list{
  position: absolute;
  top: 510px;
  width: 1180px;
  margin: 0 auto;
}
.event-list li{
  width: 285px;
  height: 110px;
  float: left;
  position: relative;
}
.event-list li:hover{
  background: rgba(0,0,0,.5);
}
.event-list li img{
  float: left;
  margin-right: 35px;
  //vertical-align: bottom;
}
.event-list li a{
  color: #FFF;
  text-decoration: none;
  font-size: 13px;
}
.event-list li a>div{
  padding-top: 20px;
  padding-left: 50px;
  box-sizing: border-box;
}
.event-list li p{
  line-height: 25px;
  padding-top: 8px;
  font-weight: normal;
}
.event-list li span{
  color: #999999;
}
.row4{
  width: 85%;
  margin: 0 auto;
}

.event-list .event-dot1 {
  position: absolute;
  top: 20px;
  left: 60px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg) scale(.5);
}
.event-list .event-dot2 {
  position: absolute;
  top: 65px;
  left:0px;
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg) scale(.5);
}

.event-list  .event-dot3 {
  position: absolute;
  top: 30px;
  left: 30px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg) scale(.5);
}
.event-list .event-dot4 {
  position: absolute;
  top: 10px;
  left: 60px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg) scale(.5);
}
.event-list .event-dot5 {
  position: absolute;
  top: 58px;
  left: 72px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg) scale(.5);
}
.event-list  .event-dot6 {
  position: absolute;
  top: 33px;
  left: -10px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg) scale(.5);
}